[Unit]
Description=Starts the node api server.
After=network-online.target

[Service]
Type=notify
ExecStart=node /opt/node/index.js
Restart=failure

[Install]
WantedBy=multi-user.target

